* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #fff;
    color: #1d1d1f;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    background-color: whitesmoke;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    opacity: 90%;
}

.logo {
    transition: 0.5s;
}

.logo:hover {
    transform: scale(1.2);
    z-index: 2;
}

.navigatebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigatebar ul {
    display: flex;
    list-style: none;
}

.navigatebar li {
    margin: 0 20px;
}

.navigatebar a {
    text-decoration: none;
    color: #1d1d1f;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s;
    z-index: 10;
}

#mf{
    background-image: url(resources/img/pattern-mf.jpeg);
    background-size: cover;
}

.container-mf {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 5%;
    opacity: 80%;
}

.container-mf h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    color: #000;
}

.problem h2 {
    font-size: 40px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #000;
}

.problem p {
    font-size: 20px;
    text-align: left;
    margin-bottom: 50px;
    color: #000;
}

.future-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.future-text {
    flex: 1;
    padding: 20px;
}

.future-text h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #000;
}

.future-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

.future-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.future-image img {
    width: 438px;
    height: 253px;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    filter: (100%);
}

#mfft {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#mfft p {
    margin: 0;
    font-size: 16px;
    color: #aaa;
}
