/* Homepage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #fff;
    color: #1d1d1f;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    background-color: whitesmoke;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    opacity: 90%;
}

.logo {
    transition: 0.5s;
}

.logo:hover {
    transform: scale(1.2);
    z-index: 2;
}

.navigatebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigatebar ul {
    display: flex;
    list-style: none;
}

.navigatebar li {
    margin: 0 20px;
}

.navigatebar a {
    text-decoration: none;
    color: #1d1d1f;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s;
    z-index: 10;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px;
    height: 100vh;
    color: #1d1d1f;
}

.Home-section {
    background-color: rgb(90, 90, 90);
    position: relative;
    background-image: url(resources/img/pattern-mf.jpeg);
    background-size: cover;
    background-blend-mode: screen;
}

.Home-content {
    max-width: 40%;
    z-index: 10;
}

.Home-content h1 {
    font-size: 140px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 50px;
    color: #333;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.Home-content p {
    font-size: 20px;
    margin: 20px 0;
    color: #333;
}

.Home-image {
    position: absolute;
    right: 700px;
    top: 120px;
    z-index: 5;
}

.Home-image img {
    width: 400px;
    height: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.AboutMe-section {
    background-color: rgb(80, 80, 80);
    padding-top: 150px;
    padding-bottom: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
    position: relative;
    background-image: url(resources/img/pattern-mf.jpeg);
    background-size: cover;
    background-blend-mode: hard-light;
}

.AboutMe-content {
    max-width: 40%;
    text-align: left;
}

.AboutMe-section h2 {
    font-size: 140px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 50px;
    color: #333;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.AboutMe-section h3 {
    font-size: 30px;
    text-decoration: underline;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 50px;
    color: #333;
    text-align: right;
    position: relative;
    left: 375px;
    bottom: 300px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.AboutMe-section h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 50px;
    color: #333;
    text-align: left;
    position: relative;
    left: -150px;
    bottom: 100px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.AboutMe-section li {
    font-size: 20px;
    margin-top: 20px;
    line-height: 5px;
    color: #333;
    text-align: left;
}

.AboutMe-vdo {
    position: absolute;
    left: 800px;
    bottom: 100px;
    z-index: 5;
}

.AboutMe-vdo video {
    width: 600px;
    height: 400px;
}

.Contacts-section {
    background-color: rgb(90, 90, 90);
    padding-top: 150px;
    padding-bottom: 100px;
    display: flex;
    justify-content: right;
    align-items: end;
    text-align: right;
    position: relative;
    background-image: url(resources/img/pattern-mf.jpeg);
    background-size: cover;
    background-blend-mode: soft-light;
}

.Contacts-content {
    max-width: 50%;
    text-align: right;
}

.Contacts-section h2 {
    font-size: 140px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    color: rgb(245, 245, 245);
    text-align: right;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.Contacts-section p {
    font-size: 20px;
    margin: 15px 0;
    color: whitesmoke;
    text-align: right;
}

.Contacts-image {
    position: absolute;
    left: 10px;
    top: 240px;
    line-height: 100px;
}

.Contacts-image img {
    width: 150px;
    height: 150px;
    z-index: 5;
}

#line-img:hover {
    transform: scale(0.9);
    z-index: 10;
}

#ig-img:hover {
    transform: scale(0.9);
    z-index: 2;
}

#facebook-img {
    position: absolute;
    left: 200px;
    top: 100px;
}

#facebook-img:hover {
    transform: scale(0.9);
    z-index: 2;
}

#คนคนนึง {
    position: absolute;
    top: 260px;
    left: -420px;
    width: 400px;
    height: 200px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:visited {
    color: #383838;
}

#ct:hover {
    color: rgb(210, 202, 202);
}

mark {
    background-color: rgb(215, 214, 214);
}

#backtotop {
    position: relative;
    font-size: 20px;
    text-align: center;
}

#hft{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}